<div class="feature">
    <div class="module-blocks">
        <div class="module-block-big">
            <p>Ищите идеи для своих заметок</p>
            <h3>Платформа для обмена знаниями с использованием искусственного интеллекта
                           </h3>
            <div class="comment"><p>Платформа для обмена знаниями,
                 использующая искусственный интеллект, предоставляет пользователям <br>
                с уникальной возможностью получать информацию и обмениваться ею в 
                режиме реального времени, обогащая процесс обучения и расширяя горизонты понимания</p></div>
        </div>
        <div class="module-block-small">
            <div class="module-block-2">
                <h3>Система управления задачами         </h3>
                <div class="comment-3"><p>Веб-приложение для организации задач и 
                    проектов с созданием, <br>редактирование, отслеживание прогресса и отчеты.</p></div>
            </div>
            <div class="module-block-3">
                <h3>Умный дом </h3>
                <div class="comment-4"><p>Система управления домашней автоматизацией
                     для обеспечения комфорта и безопасности.</p></div>
            </div>
        </div>
        <div class="module-block-small">
            <div class="module-block-4">
                <h3>Экологически чистые упаковочные материалы         </h3>
                <div class="comment-2"><p>Экологичная упаковка: биоразлагаемые,
                     компостируемые материалы, которые снижают выбросы углекислого газа и 
                     защищают природу от загрязнения пластиком.</p>
            </div>
        </div>
        
    </div>
</div>