<div class="container">
    <div class="wpf">
        <h3>Добро пожаловать в Ваши заметки</h3>
        <p class="text_welcome">На этой странице у вас есть возможность 
            оставлять заметки и эффективно управлять ими, выделяя уровень выполнения каждой задачи. 
            Вы можете не только добавлять новые заметки, но и редактировать их в
             любое время, что позволит вам постоянно обновлять информацию. 
            Кроме того, у вас есть возможность удалять ненужные заметки, 
            чтобы поддерживать порядок и организованность в своем рабочем процессе. 
            Используйте эти инструменты, чтобы легко отслеживать свой бизнес и повышать производительность!.</p>
    </div>
</div>