<app-header></app-header>
<div class="container">
    <div class="Slang">
        <h1>Добро пожаловать в <b>RecordHere</b> — место, где ваша идея <br> может стать реальностью!</h1>
    </div>
    <h2>About us</h2>
    <div class="blocks">
        <div class="block-1"> 
            <h3>О проекте RecordHere</h3>
            <h5><b>RecordHere</b> — это инновационная платформа, предназначенная для людей, стремящихся реализовать свои творческие и бизнес-идеи. 
                Мы создали это пространство для вас, где каждый может найти поддержку, ресурсы и сообщество, которое поможет в создании проекта мечты. 
                Наша миссия — организовать место для ваших идей и мыслей, чтобы дать возможность каждому реализовать свой потенциал.</h5>
            <!-- <h5>Мы верим, что сотрудничество и обмен знаниями играют ключевую роль в успешном развитии любого проекта. 
                Мы стремимся к созданию культурного пространства, где все участники могут свободно делиться своими идеями, обсуждать их и, возможно, создавать что-то удивительное вместе.</h5> -->
            <h5>
                <b>RecordHere</b> — это не просто инструмент для заметок; это сообщество единомышленников, стремящихся к творчеству и развитию. 
                Мы ценим разнообразие, открытость и уважение к мнению каждого участника. 
                Наша вера в силу совместной работы вдохновляет нас ежедневно, и мы рады видеть, как ваши идеи оживают в нашем пространстве.
            </h5>
        </div>
        <div class="block-2">
    
        </div>
    </div>
    <div class="blocks">
        <div class="block-3">
        </div>
        <div class="block-4">
            <h3>Наша идея</h3>
            <h5>В современном мире реализация идеи может быть сложной задачей. 
                Слишком часто талантливые мечтатели останавливаются на полпути из-за отсутствия нужных ресурсов, знаний или поддержки. 
                <b>RecordHere</b> стремится устранить эти преграды, предлагая всем желающим простую и эффективную платформу для работы над своими проектами.</h5>
            <h5>- Идея: Мы убеждены, что каждая идея заслуживает шанса быть услышанной и воплощенной в жизнь. 
                Наша цель — предоставить всем желающим инструменты и поддержку для успешной реализации своих замыслов.
                - Стратегия: Объединяя ресурсы, поддержку и опыт, мы хотим создать экосистему, где каждый может найти всё необходимое для своего проекта: от идей до воплощения.</h5>
            <h5>Если у вас есть идея, которую вы хотите реализовать,
                <b>RecordHere</b> — это ваше место. Запишитесь на платформу, создайте свой профиль, и давайте вместе начнём создавать мир, полный новых идей и возможностей.</h5>
        </div>
    </div>
</div>

<app-back-info></app-back-info>
